<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
  <head>
    <title th:text="${emailTitle}">Email Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
      @media screen {
        @font-face {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 400;
          src: url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
        }
      }

      * {
        font-family: "Work Sans", sans-serif;
        font-style: normal;
      }

      .container {
        position: relative;
      }

      .banner-container {
        position: relative;
        width: 100%;
        height: 200px;
      }
      .banner {
        position: absolute;
        height: 250px;
        width: 100%;
        background: radial-gradient(
            25.57% 71.09% at 10.08% 100%,
            rgba(148, 64, 232, 0.05) 0%,
            rgba(148, 64, 232, 0) 100%
          ),
          radial-gradient(
            24.02% 45.74% at 78.07% 10.73%,
            rgba(255, 179, 64, 0.18) 28.13%,
            rgba(255, 179, 64, 0) 100%
          ),
          radial-gradient(
            51.35% 110.02% at 88.2% 117.24%,
            rgba(233, 74, 65, 0.22) 37.52%,
            rgba(233, 74, 65, 0) 100%
          ),
          #fbfbfb;
      }

      .banner-gradient {
        box-sizing: border-box;
        padding: 56px 0 0;
        position: relative;
        margin: auto;
        width: 580px;
        height: 200px;
        max-width: calc(100% - 40px);
        overflow: hidden;
        text-align: center;
      }

      #lw-logo {
        /* background: #e84940; */
        width: 93px;
        height: 16px;
        margin: 0 0 20px;
      }

      #title {
        margin: 0;
        font-weight: 600;
        font-size: 36px;
        line-height: 31px;
        text-align: center;
        color: #000000;
      }

      a {
        cursor: pointer;
      }

      a.primary {
        text-decoration: none;
        background: #3a3a3b;
        cursor: pointer;
        border-radius: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        padding: 14px 46px;
        color: white;
      }

      tr {
        border: none;
        padding: 0;
      }

      p.footer {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        text-align: center;
        color: #aeaeb1;
      }

      .card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid #d1d1d6;
        width: 100%;
      }

      .card.middle {
        margin: 12px 0;
      }

      .section-heading {
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        color: #000000;
      }

      .section-subheading {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #6d6d70;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #3a3a3b;
        margin: 0;
      }

      .item {
        padding: 56px 0;
        border-bottom: 1px solid #e5e5e9;
      }

      .item.border-free {
        border-bottom: none;
      }

      .item h3 {
        margin: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: #1c1c1e;
      }
      .item img {
        width: 100%;
        height: auto;
        margin: 24px 0;
        border-radius: 8px;
      }

      ul {
        line-height: unset;
        list-style-position: inside;
        margin: 24px 0 0;
      }
      li {
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        color: #3a3a3b;
      }

      .coming-soon-item {
        display: block;
        margin: 32px 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #6d6d70;
      }
    </style>
  </head>

  <body
    style="
      position: relative;
      padding: 0 !important;
      margin: 0;
      background-color: #fbfbfb;
    "
  >
    <div class="container">
      <div class="banner-container">
        <div class="banner">
          <div class="banner-gradient">
            <img
              id="lw-logo"
              data-src="/assets/logo-white.png"
              src="https://media.lyncwork.com/content/public/content/public/logo-orange.png"
              th:attrprepend="src=${frontendURL}"
              alt="lycwork banner"
            />
            <h1 id="title">Lyncwork March Update</h1>
          </div>
        </div>
      </div>
      <table
        style="
          width: 580px;
          max-width: calc(100% - 40px);
          position: relative;
          z-index: 4;
          margin-left: auto;
          margin-right: auto;
          border-spacing: 0;
          border-collapse: collapse;
        "
      >
        <!-- Main Body -->
        <tr>
          <td style="width: 100%; line-height: 0; margin: 0; padding: 0">
            <table
              class="card"
              style="
                width: 100%;
                background-color: white;
                border-radius: 10px;
                padding: 50px;
                margin: 0 0 12px 0;
              "
            >
              <tr>
                <td align="center">
                  <span class="section-subheading">Patch & Stuff</span>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img
                    id="lw-document-logo"
                    style="width: 180px; margin: 32px 0"
                    src="https://media.lyncwork.com/content/public/content/public/documents-logo.png"
                    alt="patch-note"
                  />
                </td>
              </tr>
              <tr>
                <td align="center">
                  <!-- <p>
                    Eiusmod esse ut eu pariatur nulla laborum duis tempor labore
                    qui eu ex nostrud. Lorem qui dolor enim magna culpa amet
                    ipsum pariatur enim culpa magna ex. Amet cillum Lorem sint
                    eiusmod aute amet reprehenderit nulla velit ullamco proident
                    ut dolore velit. Incididunt et consequat consectetur ad
                    deserunt dolore. Veniam incididunt enim nisi excepteur
                    excepteur veniam minim excepteur elit Lorem adipisicing
                    adipisicing ut. Et sint magna pariatur dolor cupidatat
                    laboris fugiat sint sunt sunt. Adipisicing sunt nisi aute
                    eu.
                  </p> -->
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- WHAT"S NEW -->

        <tr>
          <td style="width: 100%; line-height: 0; margin: 0; padding: 0">
            <table class="card middle" style="padding: 48px 48px 0">
              <tr>
                <td align="center">
                  <h2 class="section-heading" style="margin: 0 0 8px">
                    🚀 What’s new?
                  </h2>
                  <span class="section-subheading"
                    >New additions to Lyncwork</span
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <div class="item">
                    <h3 class="item-title">
                      Granular License Provisioning & Management
                    </h3>
                    <img
                      src="https://drive.google.com/uc?export=view&id=18K9XoQ-TXmi5P-RJJrBA7ObtVgLig-Wh"
                      alt="feature-img"
                    />
                    <p>
                      We are ecstatic to announce the release of granular
                      license provisioning and management on the Lyncwork
                      platform!
                    </p>
                    <p>
                      A cumulation of 3 months of R&D at Lyncwork, granular
                      license provisioning is our latest feature set built to
                      help you manage your SaaS platforms more effectively. For
                      complex integrations such as Microsoft Office and
                      associated applications you now have the ability to manage
                      license types directly on the Lyncwork platform. Granular
                      license management will allow you to leverage the already
                      powerful Roles function on Lyncwork to assign different
                      levels of licences to your employees. Furthermore you can
                      also set default licences as a fallback for general
                      assignment and effectively track the number of licences
                      that have been consumed. With this data you can make
                      informed decisions in regards to resource assignment and
                      work the the peace of mind knowing you have all revenue
                      leakage bases covered.
                    </p>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="item border-free">
                    <h3 class="item-title">Monitored User Deprovisioning</h3>
                    <img
                      src="https://drive.google.com/uc?export=view&id=1DAVazv-tXe_x0a-10uvpNoI-r1NTB-c7"
                      alt="feature-img"
                    />
                    <p>
                      Following up with granular provisioning is the new ability
                      for administrators on Lyncwork to monitor the deprovision
                      status of user applications. As we identified more complex
                      use cases for HR admins we recognized the need for
                      administrators to deprovision applications on a staggered
                      basis. Whether it's to migrate user data or monitor a
                      mailbox post off boarding, Lyncwork now offers a solution
                      for administrators to manage all SaaS deprovisioning flows
                      in one place. Using the new monitored deprovision flow
                      will allow you to lock and reset all account permissions
                      for an offboarded employee, and set the status of those
                      accounts to automatically deprovision in 60 days. Simply
                      set it - and forget it! You’ll receive a calendar
                      notification for when the account's are deprovisioned so
                      you’ll know just when licences will stop being consumed.
                      Meanwhile new credentials will be automatically generated
                      so you can still access those integrations and freely
                      complete any post off boarding tasks you need to do,
                      without having to worry about any pesky licence charges
                      being paid past their expiry date.
                    </p>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- Bug Fix & Improvements -->

        <tr>
          <td style="width: 100%; line-height: 0; margin: 0; padding: 0">
            <table class="card middle" style="padding: 48px">
              <tr>
                <td align="center">
                  <div>
                    <h2 class="section-heading">🔧 Bug Fixes</h2>
                    <ul style="margin: 24px 0 40px">
                      <li>
                        Notification Bug Fixes - Notifications bell now properly
                        closes when clicked
                      </li>
                      <li>
                        User Stats List Page - User status now properly displays
                        on the user list page
                      </li>
                      <li>
                        Onboarding Team Avatars - Team member avatars are now
                        properly displayed during a users onboarding journey
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <div>
                    <h2 class="section-heading">⭐ Improvements</h2>
                    <ul>
                      <li>
                        Email Toggle for Journeys - Administrators can now
                        toggle off email notifications for journey and task
                        assignment
                      </li>
                      <li>
                        The Application page has received a brand new overhaul!
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- Coming Soon -->

        <tr>
          <td style="width: 100%; line-height: 0; margin: 0; padding: 0">
            <table
              class="card"
              style="padding: 48px 48px 0; margin: 12px 0 56px"
            >
              <tr>
                <td align="center">
                  <div>
                    <h2 class="section-heading">🚢 Coming Soon!</h2>
                    <!-- <p style="margin: 24px 0 0">
                      Labore magna officia sit occaecat occaecat commodo.Dolor
                      aliquip amet velit magna do.Voluptate eiusmod laboris
                      excepteur quis laborum.
                    </p> -->
                    <span class="coming-soon-item"
                      >Granular License Management (phase 2)</span
                    >
                    <span class="coming-soon-item"
                      >Monitored Deprovision Flow (phase 2)</span
                    >
                    <span class="coming-soon-item"
                      >Customizable Onboarding (sub team)</span
                    >
                    <span class="coming-soon-item">Single Sign On</span>
                    <span class="coming-soon-item"
                      >Fully Native PWA Experience</span
                    >
                    <span class="coming-soon-item">SMS Integration</span>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- FOOTER -->
        <tr>
          <td
            style="width: 100%; line-height: 0; margin: 0; padding: 0"
            align="center"
          >
            <table style="width: 80%">
              <tr>
                <td>
                  <!-- <p
                    style="margin: 0"
                    class="footer"
                    th:text="${reasonWhyYouReceived}"
                  >
                    Reason why you received
                  </p> -->
                </td>
              </tr>
              <tr>
                <td>
                  <p style="margin: 0" class="footer">
                    Lynwork Inc - 40 Fulton Street 6th Floor - New York NY -
                    10038
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p style="margin: 0 0 40px 0" class="footer">
                    <!-- <a
                      target="_blank"
                      style="text-decoration-line: underline; color: #aeaeb1"
                    >
                      Unsubscribe
                    </a> -->
                  </p>
                </td>
              </tr>
              <tr style="display: none">
                <td align="center">
                  <table
                    style="width: 150px; margin-bottom: 50px; margin-top: 20px"
                  >
                    <tr>
                      <td style="width: 50px"></td>
                      <td style="width: 50px">
                        <a
                          target="_blank"
                          style="width: 24px; height: 24px"
                          href="https://twitter.com/lyncwork"
                        >
                          <img
                            src="/assets/twitter-logo.svg"
                            alt="twitter logo"
                            style="
                              width: 24px;
                              height: 24px;
                              object-fit: contain;
                            "
                          />
                        </a>
                      </td>
                      <td style="width: 50px"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!-- ADDRESS -->
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
